*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background:#f3e5ab;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    background: white;
    width: 270px;
    margin:10px;
    border-radius: 15px;
}

.card-image {
    background-color: chocolate;
    height:170px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px 15px 0 0;
}

.book-1{
    background-image: url("https://images.unsplash.com/photo-1585521551422-497df464aa43?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
   
}

.com-2{
background-image: url('https://plus.unsplash.com/premium_photo-1678566111481-8e275550b700?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjF8fGNvZGV8ZW58MHx8MHx8fDA%3D');
}

.game-3{
background-image: url('https://plus.unsplash.com/premium_photo-1665590827405-51810e1fa565?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}

.card p{
    padding:10px;
}

.card a{
    background-color: chocolate;
    color: white;
    padding: 15px 20px;
    display:block;
    text-align: center;
    margin: 20px 50px;
    text-decoration: none;
}

.card:hover{
    background-color: coral;
    color: white;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 1s ease;
}